NODE_ENV=development
PORT=3000

DATABASE_URL="mongodb://localhost:27017/boxful_development?replicaSet=rs0&directConnection=true"

JWT_SECRET="CHANGE-ME"
JWT_EXPIRES_IN="1d"

BCRYPT_SALT_ROUNDS=12

CORS_ORIGIN="http://localhost:3001"
WEBHOOK_SECRET="CHANGE-ME"

THROTTLE_TTL=60000
THROTTLE_LIMIT=100